.login-signup-container{
  width: 100%;
  margin: 0 auto;
  margin-top: 3rem;
  text-align: center;
  padding-bottom: 2rem;
}
.login-signup-container p{
  color: #c9c4c4;
  font-weight: 100;
  font-size: 1.2rem;
}
.login-signup-container a{
  text-decoration: none;
  margin: 0 auto;
  margin-top: 1rem;
  display: block;
  padding: 1rem;
  width: 80% ;
  color: #234661;
  background-color: #fff;
  border: solid 1px #234661;
  border-radius: 1rem;
  font-weight: 600;
  letter-spacing: .2rem;
}