*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color: #f0f2f6;
  min-height: 100vh;
  padding-top: 10rem;
}
.loading{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #224a68;
  transform: translate(0, -50%);
}
