.patient-profile-container{
  width: 100%;
  padding: 1rem;
}
.patient-profile-container h1{
  margin-top: 2rem;
  text-align: center;
  color: #224a68;
  font-weight: 100;
}
.notification-modal {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.4);
}
.notification-modal_content {
  background-color: white;
  margin: 15% auto;
  width: 90%;
  max-width: 25rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: #224a68;
}
.notification-modal_image {
  padding-top: 1.5rem;
  height: 5.5rem;
  width: 100%;
  text-align: center;
  border-radius: 0.5rem 0.5rem 0 0;
}
.notification-modal_text {
  padding: 1rem 0 1.5rem 0;
}
.notification-modal_text h3 {
  margin-bottom: .5rem; 
}
.notification-modal_text p {
  font-size: 0.95rem;
}
.notification-modal_button {
  color: white;
  border: 0;
  padding: .5rem .7rem;
  border-radius: .3rem;
  box-shadow: 3px 3px 5px #ccc;
}
.notification-modal_button.success-button {
  background-color: #224a68;
}
.notification-modal_button.failure-button {
  background-color: #d84646;
}
.patient-symptom-container select{
  display: block;
  margin: 1rem 0;
  width: 100%;
  max-width: 600px;
  border: 1px solid #91bcd3;
  border-radius: .5rem;
  padding: .5rem;
  font-size: 1rem;
}
.patient-profile-container .patient-info{
  margin-top: 4rem;
}

.patient-info{
  position: relative;
}
.patient-profile-container .patient-info .patient-profile-picture{
  width: 100%;
  min-width: 100px;
  max-width: 129px;
  max-height: 131px;
  margin: 0 auto;
  display: block;
  padding: .1rem;
  border: solid 2px #224a68;
  border-radius: 50%;
}
.patient-profile-container .patient-info em{
  display: block;
  margin-top: 2rem;
  text-align: center;
  font-style: normal;
  font-size: 2rem;
  font-weight: 600;
  color: #224a68;
}


.upload-profile-picture-btn{
  position: absolute;
  background-color: #224a68;
  border-radius: 50px;
  right: 39%;
  bottom: 35%;
  padding: 0.3rem 0.2rem 0.2rem 0.2rem;
  border: none;
  outline: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.438);
  transition: 0.2s;
}

.upload-profile-picture-btn:hover{
  box-shadow: none;
}

@media(min-width:40rem){
  .upload-profile-picture-btn{
    right: 43%;
    bottom: 28%;
  }
}

.upload-profile-picture-btn img{
  width: 100%;
  max-width: 45px;
  min-width: 30px;
  cursor: pointer;
}


.patient-profile-container .quarantine{
  width: 100%;
  height: 10rem;
  background-color: #fff;
  border-radius: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.2);
}
.patient-profile-container .quarantine .objective,.patient-profile-container .quarantine .countdown{
  padding: .5rem;
  margin-top: 1rem;
}
.patient-profile-container .quarantine .objective span:first-child{
  font-size: 2.5rem;
  display: block;
  color: #224a68;
}
.patient-profile-container .quarantine .objective span:nth-child(2){
  color: #a8a4a4;
  font-size: 1.1rem;
}
.patient-profile-container .quarantine .countdown span:first-child{
  font-size: 2.5rem;
  display: block;
  color: #3591d8;
}
.patient-profile-container .quarantine .countdown span:nth-child(2){
  color: #a8a4a4;
  font-size: 1.1rem;
}
.patient-profile-container em.date{
  color: #224a68;
  font-size: 1.2rem;
  display: block;
  text-align: right;
  font-style: normal;
  margin: 1rem 0 1rem 0;
}
.patient-profile-container .update-records-btn{
  display: block;
  margin: 0 auto;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: none;
  border-radius: .5rem;
  background-color: #9bc3d8;
}
.patient-symptom-container{
  width: 100%;
  padding: 2rem;
  padding-top: 4rem;
}
.patient-symptom-container img{
  width: 1.5rem;
  margin-top: .2rem;
  position: absolute;
}
.patient-symptom-container h1{
  font-size: 1.5rem;
  font-weight: 600;
  color: #224a68;
  text-align: center;
}
.patient-symptom-container .select-boxes{
  margin: 4rem 0 0 1rem;
}
.patient-symptom-container .select-boxes .spacing{
  margin: .3rem 0 .3rem 1rem;
  height: 2.5rem;
  border-left: dashed 1px black;
}
.patient-symptom-container .select-boxes .select-box input[type="checkbox"]{
  visibility: hidden;
  display: none;
}
.patient-symptom-container .select-boxes .select-box{
  position: relative;
  margin-bottom: 2rem;
}
.patient-symptom-container .select-boxes .select-box label{
  font-size: 1.5rem;
  padding-left: 2.5rem;
  display: inline-block;
  color: #224a68;
  z-index: 2;
  margin-bottom: .5rem;
}
.patient-symptom-container .select-boxes .select-box .check{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #c9c4c4;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s;
}
.patient-symptom-container .select-boxes .select-box input[type="checkbox"]:checked + span{
 background: url('./../../assets/svg/ticked.svg');
 background-position: center;
 background-size: contain;
}
.patient-symptom-container .select-boxes button{
  padding: 1rem ;
  border: none;
  border-radius: 1rem;
  background-color: #4482b1;
  color: #fff;
  width: 100%;
  margin: 1rem auto;
  font-size: 1rem;
  text-align: center;
  display: block;
}
.patient-symptom-container .select-boxes .rating{
  margin-left: 2.5rem;
}
.patient-symptom-container .select-boxes .rating em{
  font-style: normal;
  width: 100%;
  color: #224a68;
  display: inline-block;
  margin-bottom: .2rem;
  font-size: 1.3rem;
}
.patient-symptom-container .select-boxes .rating input{
  font-style: normal;
  width: 100%;
  color: #224a68;
  display: inline-block;
  border-radius: 1rem;
  border: solid 2px #224a68;
  padding: 1rem ;
  margin-bottom: .5rem;
}
.patient-symptom-container .select-boxes .temp{
  text-align: center;
  width: 100%;
  color: #224a68;
}
.patient-symptom-container .select-boxes .temp label{
  font-size: 1.5rem;
  display: inline-block;
  margin-bottom: 1rem;
}
.patient-symptom-container .select-boxes .temp input{
  font-style: normal;
  width: 100%;
  color: #224a68;
  display: inline-block;
  border-radius: 1rem;
  border: solid 2px #224a68;
  padding: 1rem ;
  margin-bottom: .5rem;
}

@media screen and (max-width:360px){
  .patient-profile-container .quarantine .objective span:first-child,.patient-profile-container .quarantine .countdown span:first-child{
    font-size: 2rem;
  }
}



