.prescribe{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.prescribe h4{
    font-weight: lighter;
}


@media only screen and (max-width: 500px){
    .prescribe{
        width: 85%;
    }
}