.prescribe{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.prescribe h4{
    width: 48%;
    font-weight: lighter;
}
.prescribe h4:last-child{
    text-align: right;
}
