.patient-home-container{
  padding-top: 2rem;
  width: 90%;
  margin: 0 auto;
}
.patient-home-container.fixed{
  position: fixed;
}
.patient-home-profile{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.patient-home-profile .patient-home-image__wrapper {
  display: flex;
  align-items: center;
  min-width: 8rem;
  justify-content: space-between;
}
.patient-home-image__wrapper .logout-span {
  cursor: pointer;
  color: #a8a4a4;
}
.patient-home-image__wrapper .logout-span:hover{
  text-decoration: underline;
}
.patient-home-profile img{
  width: 100%;
  max-width: 52px;
  max-height: 52px;
  border-radius: 50%;
}
.patient-home-profile em{
  margin-top: 1rem;
  font-style: normal;
  color: #a8a4a4;
}
.patient-home-records-container em{
  font-size: 2rem;
  font-style: normal;
  color: #224a68;
}
.patient-home-records{
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.patient-home-body-temp{
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 1rem;
  color: #224a68;
  box-shadow: 0 .1rem .4rem rgba(0,0,0,.2);
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
  "i i t t t t"
  "i i n n n n";
}
.patient-home-body-temp{
  background-color: #f3e8d4;
}
.patient-home-body-temp img{
  grid-area: i;
  width: 4rem;
  height: 100%;
}
.patient-home-body-temp .text{
  grid-area: t;
  margin-bottom: 1rem;
}
.patient-home-body-temp .temp{
  grid-area: n;
}
.patient-home-indication-box{
  display: flex;
  width: 100%;
  background-color: #99e283;
  color: #0b6319;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 .1rem .4rem rgba(0,0,0,.2);
  justify-content: space-between;
}
.patient-home-indication-box.critical{
  background-color: #e28383;
  color: #630b0b;
}
.patient-home-indication-box img{
  width: 20%;
  margin-right: 2rem;
}
.patient-home-indication-box .text{
  margin-top: .4rem;
}
.patient-home-indication-box .text em{
  color: #0b6319;
}
.patient-home-indication-box.patient-home-indication-box.critical .text em{
  color: #630b0b;
}
.patient-home-indication-box .text p{
  font-size: .8rem;
}
.patient-home-indication-box .text span{
  display: block;
}

.patient-record-container{
  width: 100%;
  padding: 2rem;
  padding-top: 4rem;
}
.patient-record-container img{
  z-index: 2;
  margin-top: 0.5rem;
  width: 1.5rem;
  position: absolute;
}
.patient-record-container h1{
  font-weight: 100;
  font-size: 2rem;
  color: #224a68;
  text-align: center;
  margin-bottom: 2rem;
}
.patient-record-container .switch-btn{
  width: 100%;
  display: flex;
  background-color: #fff;
  border-radius: 1rem;
}
.patient-record-container .switch-btn button{
  background-color: transparent;
  border-radius: 1rem;
  border: none;
  width: 50%;
  color: #224a68;
  padding: 1rem;
  font-size: 1rem;
  transition: all .3s;
}

.switch-btn .temp:focus,.switch-btn .pressure:focus{
  outline: 0;
}
.patient-record-container .switch-btn button.active{
  background-color: #f3e8d4;
  box-shadow: 0 .2rem .3rem rgba(0,0,0,.2);
}
.patient-record-container .current-record{
  margin: 2rem auto;
  text-align: center;
  color: #224a68;
}
.patient-record-container .current-record em{
  display: block;
}
.patient-record-container .current-record em:first-child{
  font-style: normal;
  font-size: 1.2rem;
}
.patient-record-container .current-record em:nth-child(2){
  padding-top: 1rem;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
}
.patient-record-container .graph-container img.graph{
  width: 100%;
  position: static;
  margin: 1rem auto;
  margin-bottom: 2rem;
}
.patient-record-container .graph-container ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.patient-record-container .graph-container ul li{
  list-style: none;
  color: #6ba9d8;
}
.update-records{
  display: none;
  z-index: 1;
  background-color: rgba(70, 68, 68, 0.9);
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 4rem 2rem;
}
.update-records.display{
  display: block
}
.update-records.display ~ .patient-home-container{
  overflow: hidden;
}
.update-records svg{
  position: relative;
  top: -2rem;
  height: 4rem;
  width: 2rem;
}
.update-records .header h1{
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.update-records .header em{
  display: inline-block;
  font-style: normal;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}
.update-records form label{
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.update-records form label:nth-child(3){
  margin-top: 3rem;
}
.update-records form input{
  border: none;
  background-color: transparent;
  border-bottom: solid 1px #fff;
  width: 100%;
  border-radius: 0;
  font-size: 2rem;
  color: #428eb0;
}
.update-records form .inputs{
  display: flex;
  justify-content: space-between;
}
.update-records form .inputs input{
  width: 45%;
}
.update-records form button{
  margin-top: 4rem;
  width: 100%;
  padding: 1rem;
  color: #fff;
  background-color: #4390b8;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:335px){
  .patient-home-body-temp .temp,.patient-home-body-pressure .pressure{
    font-size: 1rem;
  }
}
