.patient-history {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 65px;
    background-color: lightGray;
    margin: 15px auto;
    border-left: 5px solid #3c8cb5;
}

.patient-history h3 {
    font-weight: lighter;
}

.patient-history p.hide{
    opacity: 0;
    visibility: hidden;
}

@media only screen and (min-width: 700px){
    .patient-history{
        width: 70%;
    }
}