.extra-login-container{
  margin: 1rem auto;
  text-align: center;
  margin-top: 3rem;
}
.extra-login-container p{
  font-size: 1.2rem;
  color: #c9c4c4;
}
.login-links-container {
  width: 45%;
  max-width:550px;
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
}
.logo {
  background-color: transparent;
  border: none;
}
.twitter-logo img,.facebook-logo img,.google-logo img{
  width: 3rem;
  margin: .5rem;
  transition: 0.3s;
}

.login-links-container a{
  transition: 0.3s;
}

.login-links-container a:hover{
  transform: scale(1.1);
}
