.add-prescription-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3rem 0;
}

.page-title{
    color:#234661;
}

.medicine-name-div{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    max-width: 430px;
    padding: 0.5rem;
    margin: 1rem 0.5rem;
    color: #99999b;
}

.medicine-name-div input{
    border: none;
    border-bottom: 2px solid #1e405a;
    font-size: 20px;
    padding: 0.3rem 0;
}

.dosage-div,.dates{
    display: flex;
    width: 100%;
    color: #99999b;
    justify-content: space-between;
    padding: 0.5rem;
}

.dosage-div input{
    width: 90%;
    border: none;
    border-bottom: 2px solid #1e405a;
    font-size: 20px;
    padding: 0.3rem 0;
}

.dosage,.frequency{
    width: 48%;
}


.dates input{
    width: 90%;
    border: none;
    border-bottom: 2px solid #1e405a;
    font-size: 20px;
    padding: 0.3rem 0;
}

.start-date-div,.end-date-div{
    width: 48%;
}


.save-btn{
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #3c8cb5;
    color: #fff;
    width: 90%;
    max-width: 450px;
    transition: 0.2s;
    text-align: center;
    text-decoration: none;
}

.save-btn:hover{
    background-color: #1e405a;
    border: 1px solid #1e405a;
}