.doc-sign-up-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #3C8CB5;
}

.doc-sign-up-container .title{
  margin: 1rem auto;
  padding: 0.5rem;
  text-align: center;
  color:#fff;
}

.doc-icon{
  padding: 2rem 0;
  width: 8rem;
  margin: 0 auto;
}


.patient-login-btn{
  text-decoration: none;
  margin: 3rem auto 1rem auto;
  text-align: center;
  padding: 0.7rem 0.5rem;
  border: 3px solid #234661;
  color: #fff;
  border-radius: 1rem;
  width: 90%;
}
.doc-sign-in{
  display: flex;
  flex-direction:column;
  width: 90%;
  max-width:450px;
  padding: 2rem 0;
  margin: 1rem auto;
}

.doc-sign-in input{
  display: block;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  margin: 1rem 0;
  font-family: 'SF Pro Text';
  box-sizing: border-box;
}
.doc-sign-in button{
  background-color: #234661;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-family: 'SF Pro Text';
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: block;
  width: 100%;
  transition:0.2s;
}

.doc-sign-in button:hover{
  background-color:#122533;
  box-shadow:none; 
}


