.placard {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border-bottom: 1px solid #c3c3c3;
}

.placard img {
    height: 50px;
    width: 10%;
}

.placard-content{
    width: 70%;
}
.arr-link {
    align-self: center;
    width: 10%;
}

.arr-link img{
    width: 50%;
}

.placard-content h2 {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    color: #234661;
    margin-bottom: 5px;
}

.placard-content p {
    font-size: 1rem;
    text-transform: uppercase;
    color: #A0A0A2;
    margin: 5px 0;
}

.placard span {
    color: #74ACC9;
    text-transform: none;
    font-weight: bold;
    font-size: .9rem;
}

@media only screen and (max-width: 700px) {
    .placard {
        width: 95%;
    }
}


