.eval-content-container{
  width: 80%;
  text-align: left;
  margin-left:auto;
  margin-right: auto;
  margin-top: 2rem;
}
.eval-content-container form{
  display: flex;
  flex-direction: column;
  width: 22rem;
  max-width: 100%;
  text-align: left;
}
.eval-content-container em{
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #2b4c66 ;
  letter-spacing: .1rem;
  font-style: normal;
}
.eval-content-container .eval-continue-btn,.eval-content-container .eval-next-btn{
  display: block;
  margin-top: 1.5rem;
  text-decoration: none;
  color: rgba(0,0,0,.6);
  background-color: #3c8cb5;
  width: 50%;
  max-width:300px;
  text-align: center;
  padding: .7rem .5rem;
  border-radius: .5rem;
  transition: 0.3s;
  border: none;
}

.eval-content-container .eval-continue-btn:hover{
  background-color: #296380;
}

.yes-no-btn{
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}

.yes,.no{
  border: none;
  background-color: transparent;
  width: 50%;
  padding: .6rem;
  border: solid 1px #91bcd3;
}
.yes-no-btn .yes:focus,.yes-no-btn .no:focus{
  outline: 0;
}
.yes{
  border-top-left-radius: .8rem;
  border-bottom-left-radius: .8rem;
}
.no{
  border-top-right-radius: .8rem;
  border-bottom-right-radius: .8rem;
}
.yes.inactive,.no.inactive{
  color: #71889a;
}
.yes.active,.no.active{
  background-color: #3c8cb5;
  color: rgba(0,0,0,.6);
}

.eval-content-container select,
.eval-content-container .fever-select{
  display: block;
  margin: 1rem 0;
  width: 100%;
  max-width: 600px;
  border: 1px solid #91bcd3;
  border-radius: .5rem;
  padding: .5rem;
  font-size: 1rem;
}

.eval-content-container input{
  display: block;
  padding: 1rem;
  max-width: 600px;
  border: solid 2px #234661;
  border-radius: 1rem;
  font-size: 1rem;
}
input:focus{
  outline: none;
}

.eval-content-container input:not(:last-child){
  margin-bottom: 1rem;
}

.eval-content-container .alert-error {
  position: relative;
  top: -1rem;
  font-size: 0.95rem;
  color: #e92424;
}

.eval-content-container .rating .alert-error {
  top: 0;
}

.login-input-box-container input::placeholder{
  color: #a69fae;
}

.eval-content-container .eval-next-btn{
  width: 40%;
  padding: .7rem;
  font-family: 'SF Pro Text';
  font-size: 1rem;
}
.eval-next-btn{
  background-color:#234661;
  margin-top:.7em;
  border-radius:.7em;
}
.eval-next-btn:active {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.eval-content-container .radio-btns{
  margin: 1rem;
  display: inline;
}
.symptom-input{
  color: #2b4c66;
}
.rating{
  margin-left: 3rem;
}
.rating em{
  font-size: 1rem;
}

#rating{
  margin: 0;
  display: block;
  width: 50%;
}
.rating .eval-others-input{
  width: 80%;
  margin: 0;
}
.next-but{
  background: none;
  border: none;
}
.loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; 
  width: 100%;
  height: 100%;
}
.signup-update {
  color: #2b4c66;
}
.terms-container {
  display: flex;
  margin-top: 1rem;
}
.terms-container .terms {
  margin-bottom: 0 !important;
  margin-right: .5rem;
}
.alert-terms.alert-error {
  top: .5rem;
}
.show-terms {
  color: #3c8cb5;
}
.notification-modal_terms {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.notification-modal_content.notification-modal_terms-content {
  margin: 5% auto;
  max-width: 40rem;
  padding: 0.5rem;
}

.notification-modal_terms-content{
  display: flex;
  flex-direction: column;
}

.notification-modal_terms-content img{
  max-width:20px;
  align-self: flex-start;
  cursor: pointer;
  padding: 0.2rem;
  margin: 0.1rem;
}