.PatientDetails {
    width: 100%;
    color: #234661;
}

.Pcontainer img {
    height: 50px;
}

.Pbanner {
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.Pbanner h3 {
    text-transform: uppercase;
}

.Pbanner h2,
.Pbanner h3 {
    font-weight: lighter;
}

.Pbanner h2 {
    margin-bottom: 15px;
}

.Pbanner img {
    margin-bottom: 5px;
}

.Pswitch {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid lightgray;

}

.Pswitch div {
    border-right: 1px solid lightgray;
    height: 70px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Pswitch div:hover {
    cursor: pointer;
}

.underline{
    border-bottom: 7px solid #234661;
}

.Pswitch h4 {
    font-weight: lighter;
}

.head-container{
    width: 87%;
    margin: auto;
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.head-container2 {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.head-container2 h4 {
    font-weight: lighter;
}

.head-container h4{
    color: #28abfa;
    font-weight: lighter;
}

.information-div{
    padding: 2rem 1rem;
    margin: 0.5rem auto;
    width: 100%;
}

.patient-info{
    margin: 0.5rem 0;
    padding: 0.5rem 0;
}

.add-prescription-link{
    width: fit-content;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
}

.add-prescription-link img{
    width: 60px;
}
