.PatientDetails {
    width: 100%;
    color: #234661;
}

.Pcontainer{
    background-color: #f0f2f6;
    min-height: 100vh;
}

.patient-details-header{
    margin-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 .2rem .3rem rgba(0,0,0,.3);
}
.history,.prescriptions,.body-temp,.blood-pressure,.notes,.information-div{
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    background-color: #fff;
    box-shadow: 0 .2rem .3rem rgba(0,0,0,.3);
}
.body-temp img{
    height: 100%;
    width: 100%;
}

.Pcontainer > img {
    height: 50px;
}

.Pbanner {
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.Pbanner h3 {
    text-transform: uppercase;
}

.Pbanner h2,
.Pbanner h3 {
    font-weight: lighter;
}

.Pbanner h2 {
    margin-bottom: 2rem;
}

.Pbanner img {
    margin-bottom: 1rem;
    border-radius: 50%;
    height: 4rem;
}

.Pswitch {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid lightgray;

}

.Pswitch h4 {
    border-right: 1px solid lightgray;
    height: 70px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: transparent;
    font-weight: lighter;
}
.Pswitch h4:hover {
    cursor: pointer;
}

.underline{
    border-bottom: 7px solid #234661;
}

.head-container{
    width: 100%;
    margin: auto;
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 0 1rem ;
}
.head-container a{
    display: block;
}
.head-container a img{
    height: 3rem;
    padding: .5rem 0;
}

.head-container2 {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    color: #2e628a;
}

.head-container2 h4 {
    font-weight: lighter;
}

.head-container h4{
    color: #28abfa;
    font-weight: lighter;
}

.information-div{
    padding: 2rem 1rem;
    margin: 0.5rem auto;
    width: 100%;
}

.patient-info{
    margin: 0.5rem 0;
    padding: 0.5rem 0;
}

.add-prescription-link{
    width: fit-content;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
}

.add-prescription-link img{
    width: 60px;
}
.Pprog, .Pinfo{
    z-index: 2;
    background-color: transparent;
}

.Pprog.active, .Pinfo.active{
    border-bottom: solid 3px #234661;
    box-shadow: 0;
}

.blood-pressure .header{
    width: 100%;
    margin: auto;
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 0 1rem ;
    color: #28abfa;
}
.blood-pressure .header h4{
    font-weight: lighter;
}
.blood-pressure .slot{
    background-color: #e4e1e1;
    margin: 1rem auto;
    padding: 1.5rem 1rem ;
    display: flex;
    justify-content: space-between;
    width: 95%;
    box-sizing: border-box;
}
.blood-pressure .slot:nth-child(2){
    border-left: solid 3px #b53c3c;
}
.blood-pressure .slot:nth-child(2) span:nth-child(2){
    color: #b53c3c;
}
.blood-pressure .slot:nth-child(3){
    border-left: solid 3px #99e283;
}
.blood-pressure .slot:nth-child(3) span:nth-child(2){
    color: #99e283;
}
.blood-pressure .slot span{
    font-size: 1rem;
    width: 30%;
    text-align: center;
}
.blood-pressure .slot span:first-child{
    font-size: 1.3rem;
}
.blood-pressure .slot span em{
    font-style: normal;
    font-size: 1rem;
    color: #2191d6;
    position: relative;
    top: -.2rem;
}
.notes .patient, .notes .doctor{
    padding: 0 1rem;
}
.notes .patient h4,.notes .doctor h4{
    width: 100%;
    margin: auto;
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    font-weight: lighter;
    color: #28abfa;
}
.notes .doctor h4{
    margin-bottom: 2rem;
}
.notes .patient p span{
    display: block;
}
.notes .patient p{
    line-height: 1.2rem;
    font-size: 1.1rem;
}
.notes .doctor textarea{
    border: solid 2px #2a4c66;
    width: 100%;
    margin: 1rem 0;
}
.notes .doctor button{
    background-color: #3c8cb5;
    color: #fff;
    display: block;
    width: 50%;
    margin: 0 auto;
    border: none;
    font-size: 1.4rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
}
.progress-div{
    padding-bottom: 2rem;
}
.progress-div .history button,.notes .doctor button.add{
    display: block;
    margin: 0 auto;
    width: 60%;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: #28abfa;
    font-size: 1.2rem;
    color: #fff;
}
.progress-div > button{
    background-color: #bc2727;
    color: #fff;
    display: block;
    width: 60%;
    margin: 2rem auto 0;
    border: none;
    font-size: 1.4rem;
    border-radius: 1rem;
    padding: 1rem;
}
.history-slot{
    margin: 1rem 0 2rem;
}
.history-slot h1{
    display: block;
    text-align: center;
}


