.login-header-container{
  text-align: center;
}
.login-header-container h1{
  color: #234661;
  letter-spacing: .2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.login-header-container p{
  font-size: 1.2rem;
  color: #c9c4c4;
  margin-bottom: 1rem;
}